@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}


#page {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    background-image:url('../img/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
	background-size: 50px auto;
}

.form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px;
    text-align: left;
}

tbody td.center-tr, .dataTable thead td{
	text-align: center;
}

body.modal-open{
	padding-right: 0px !important;
}

.logout-button{
	cursor: pointer;
}

.form-group .control-label{
	color: #000 !Important;
}
textarea.disable-resize{
	resize: none;
}

.examination-content{
	height: 230px;
	overflow: auto;
	margin-top: 10px;
}
.examination-content label {
	width: 100%;
	font-weight: 400;
}
.ui.dropdown .menu > .item {
	font-size: 12px !important;
}
.transaction-identity-container{
	min-height: 211px;
}
.transaction-identity-container-222{
	min-height: 222px;
}
@media print {
    .print-hide{
		display: none;
	}
}
/*overide bootstrap*/
body{
	color:#000 !important;
}
input[type="text"], select, textarea{
	border-color:#000 !important;
}
::-webkit-input-placeholder {
   color: #000 !important;
}
:-moz-placeholder { /* Firefox 18- */
   color: #000 !important;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #000 !important;  
}
:-ms-input-placeholder {  
   color: #000 !important;  
}
.ui.default.dropdown:hover > .text, .ui.default.dropdown > .text, .ui.dropdown:hover > .default.text, .ui.dropdown > .default.text {
	color:#000 !important;
}
.ui.search.dropdown > input.search {
	border:1px solid #000 !important;
}
.input-group .input-group-addon{
	border:1px solid #000 !important;
}
.skin-blue .main-header .logo{
	background:#fff !important;
}
.skin-blue .main-header .navbar{
	background:#8ae429;
}
.content-wrapper, .right-side{
	background:#0f9200;
}
.content-header > .breadcrumb > li > a{
	color:#fff;
}
.breadcrumb > li + li::before{
	color:#fff;
}
.breadcrumb > .active{
	color:#fff;
}
.content-header > h1{
	color:#fff !important;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
	background:#8ae429;
}
.skin-blue .sidebar a{
	color:#000;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a{
	background:#234d20;
	border-left-color:#234d20;
}
.skin-blue .sidebar-menu > li > .treeview-menu{
	background:#6bb120;
}
.skin-blue .treeview-menu > li > a {
	color:#000;
}
.skin-blue .treeview-menu > li.active > a, .skin-blue .treeview-menu > li > a:hover, .skin-blue .treeview-menu > li > a:hover{
	color:#000;
	text-decoration:underline;
	font-weight:bold;
}
.skin-blue .main-header .navbar .nav > li > a, .skin-blue .main-header .navbar .sidebar-toggle{
	color:#000;
}
.skin-blue .main-header .navbar .nav > li > a:hover, .skin-blue .main-header .navbar .sidebar-toggle:hover, .skin-blue .main-header .navbar .sidebar-toggle:hover{
	background:#234d20;
}
.form-control{
	border-color:#000;
	color:#000;
}
.table-bordered{
	border-color:#000;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, table.table-bordered tbody th, table.table-bordered tbody td{
	border-color:#000;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small{
	color:#fff;
}
.nav-tabs-custom > .nav-tabs > li.active{
	border-top-color:#234d20;
}
.box-header.with-border{
	border-bottom:1px solid #234d20;
}
.nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a{
	color:#000;
}
.nav-tabs-custom > .nav-tabs{
	border-bottom-color:#234d20 ;
}
.nav-tabs-custom > .nav-tabs > li.active > a{
	border-right-color:#234d20 ;
	border-left-color:#234d20 ;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
	padding:5px;
}
.box-body{
	padding:5px 10px;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #8ae429;
}