.paper-container{
	padding-top:20px;
}
.table-border td{
	border:1px solid #000;
	padding:1px 5px;
	color:#000;
}
.uppercase{
	text-transform:uppercase;
}
.padding-40{
	padding-top:40px;
}
.top-border-double{
	border-top:double !important;
}
.full-width{
	width:100%;
}
.numbering{
	padding-left:0;
}
.bottom-border-bold{
	border-bottom:2px solid #000;
}
.padding-top-20{
	padding-top:20px;
}
.padding-top-60{
	padding-top:60px;
}
.margin-bottom-20{
	margin-bottom:20px;
}
.padding-top-50{
	padding-top:50px;
}
.vertical-top{
	vertical-align:top;
}
.font-11{
	font-size:11px;
}
.font-12{
	font-size:12px;
}
.font-14{
	font-size:14px;
}
.identity{
	font-family:times new roman;
	font-size:10px;
	text-align:right;
	margin-bottom:4px;
	float:right;
	width:100%;
}
.red-background{
	background-color:#fde9d9 !important;
}
.table-header{
	text-align:center;
	font-weight:bold;
}
.table-subheader{
	font-weight:bold;
}
.table-rontgen{
	border:1px solid #000;
	width:100%;
}
.table-rontgen td{
	padding:5px;
}
.col-2{
	width:50%;
	float:left;
	display:table;
	padding:0 10px;
}
.table-space td{
	min-height:20px;
	height:20px;
}
.border-note{
	padding:20px 5px;
}
.padding-top-120{
	padding-top:120px;
}
.border-right-hide{
	border-right:0 !important;
}
.border-left-hide{
	border-left:0 !important;
}
.btn-header{
	background:#3c8dbc;
	border-color:#367fa9;
	color: #fff !important;
    margin-top: 5px;
    padding: 7px 12px !important;
}
.btn-header:hover{
	background:#367fa9 !important;
}
@media print{
	body{
		-webkit-print-color-adjust:exact;
	}
}